# 4단계 -4번(평균)

In [294]:
# 입력
# 첫째줄: 과목 수 (N개)
# 둘째줄 : 현재 성적
score = [1,100,100,100]

print(len(score)) 
print(score)

4
[1, 100, 100, 100]

In [295]:
# 출력
# 새로운 평균 출력 

new_scores = []

for i in range(len(score)):
        new_score = score[i] / max(score) * 100
        new_scores.append(new_score)
    
print(new_scores)
avg = sum(new_scores) / len(score)
avg

[1.0, 100.0, 100.0, 100.0]

75.25

# 4단계 - 5번(OX퀴즈)

In [311]:
# 연속으로 맞으면 +1점 올라감 
case = ['OOXXOXXOOO',
'OOXXOOXXOO',
'OXOXOXOXOXOXOX',
'OOOOOOOOOO',
'OOOOXOOOOXOOOOX']

print(len(case))

print(*case, sep='\n')
# * 언패킹 오퍼레이터 = 리스트 내 원소 하나씩 관리

5
OOXXOXXOOO
OOXXOOXXOO
OXOXOXOXOXOXOX
OOOOOOOOOO
OOOOXOOOOXOOOOX

In [350]:
score = 0
 
# 맞은거는 우선 다 1점으로 깔아 줌
for i in range(len(case)):
    n = case[i]
    for j in range(len(n)):
        if case[i][j] == 'O':
            score += 1
        else : 
            score == 0
    

for i in range(len(case)):
    n = case[i]
    for j in range(len(n)-1):
        if case[i][j] == 'O' and case[i][j] == case[i][j+1]:
            score += 1
            j += 1
        
        else: score +=0
    
    

    
score

65

In [348]:
case[3]

'OOOOOOOOOO'

In [342]:
n = case[0]
n
len(n)

10

# * 4단계 - 6번(평균은 넘겠지)

In [83]:
#입력
import random 

scores = []

for i in range(random.randint(1,10)):
    score = random.randint(0,100)
    scores.append(score)
    
# 랜덤값 받음

In [84]:
#확인
print(len(scores))
scores

7

[17, 0, 81, 79, 66, 94, 86]

In [85]:
#출력
average = sum(scores) / len(scores)   #평균값 구하고

count = 0    #cnt 0으로 셋팅

for i in range(len(scores)):
    if scores[i] > average: 
        count += 1         #scores list내 원소 중, 평균값 이상일 경우 cnt+1 
        
    
#최종 답안    
ans = (count / len(scores)) * 100 
print("%0.3f%%" %ans)

71.429%

# 5단계 - 1번(정수 N개의 합)

In [604]:
import random

a = []

for i in range (random.randint(1,30)):
    a.append(random.randint(1,100))

def solve(a:list) -> int: 
    return sum (a)

In [605]:
a

[78, 28, 63, 14, 41, 51, 6, 28, 16, 63, 30, 18, 71]

In [606]:
solve(a)

507

# 5단계 - 2번(셀프 넘버)

In [ ]:
# 셀프 넘버 
# n +

In [151]:
not_self = []

n + n//10^2 + n//10^1 + n % 10 = not_self.append()

print range(1,10000)

SyntaxError: cannot assign to operator (4121093367.py, line 3)

In [153]:
a = range(1,10000)

In [155]:
a - 2

TypeError: unsupported operand type(s) for -: 'range' and 'int'

In [ ]:
All = set(i for i in range(1,10001))
S = set()

for i in range(1,10001):
    for j in str(i):
        i += int(j)
    S.add(i)

    for i in sorted(All - S):
        print(i)

# 5단계 - 3번 (한수)

In [482]:
a = '50034'

In [486]:
a[0][3]

'3'

In [525]:
# 1~1000 자연수 중, 각 자리값이 등차수열인 수 구하기

# 한 자리 : 1~9 전체
# 두 자리 : 10~99 전체
# 세 자리: [0] - [1] = [1] - [2]

import random

input = int(random.randint(1,1001))

def hansu(num):
   
    if len(str(num)) <= 2:
        print (num)
    
    else :
        cnt = 0
        for num in range(100,int(num)+1):
            if int(str(num)[0]) - int(str(num)[1]) == int(str(num)[1]) - int(str(num)[2]):
                cnt += 1
        
        print (99 + cnt)
    
hansu(input)

129

# 6단계 - 8번 (다이얼)

In [ ]:
# 다이얼 전화기 돌리기 

#입력 
#첫째 줄에 알파벳 대문자 (2 < 단어 길이 < 15)

In [ ]:
#출력 
#첫째 줄 다이얼 걸기 위해 필요한 최소 시간 출력

# 6단계 - 9번 (크로아티아 알파벳)

In [233]:
C = ['c=','c-','dz=','d-','lj','nj','s=','z=']

In [259]:
a = str('ljes=njak')

croatia = []

for i in range(len(C)):
    if C[i] in a:
        croatia.append(C[i])
    

print (len(a) - len(croatia))
        
# c=c= 나오면 중복값이라 안돼

6

In [258]:

for i in range(len(C)):
    if C[i] in a:
        croatia[i] += 1
    
print (croatia)

IndexError: list index out of range

# * 6단계 - 10번 (그룹 단어 체커)

In [106]:
#입력
#첫째줄 : 단어 개수
#둘째줄 : n개 줄에 단어 들어옴 (소문자, 중복X, 최대 길이 100)

# import random 
# import string

# num_word = random.randint(1,101)
# len_word = random.randint(1,101)

In [109]:
# print(num_word)

# for i in range(num_word):
#     print(string.ascii_lowercase)

In [470]:
word_list = ['yzyzy','zyzyz']
cnt = len(word_list)
# 전체 갯수에서 그룹 단어 빼는 방식

print (cnt)

for i in range(cnt):
    for j in range(1,len(word_list[i])):
        if (word_list[i][j-1] == word_list[i][j]) and (word_list[i][j-1] not in word_list[i][j+1:]):
            cnt += 0
            
        elif (word_list[i][j-1] != word_list[i][j]) and (word_list[i][j-1] not in word_list[i][j:]):
              cnt += 0
              
        elif word_list[i][j-1] in word_list[i][j+1:]:
                cnt += -1
                break        
            
    
# 연속 O & 뒤에 없음 : 갯수 안깜
# 연속 X & 중복 X : 갯수 안깜

# 연속 O & 뒤에서 나옴 : 갯수 깜
# 연속 X & 중복 O : 갯수 깜
# => 같은 문자가 하나 건너뛰어서 한 문자라도 나오면 그룹 단어 X (갯수 깜)
print (cnt)

2
0

# 9단계 - 3번 (재귀함수가 뭔가요?)

In [569]:
n = 5

print ('어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.')

def recur():
    print("\"재귀함수가 뭔가요?\""'\n'
          "\"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어. "
          "마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지. "
          "그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어.\"")


recur()

어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.
"재귀함수가 뭔가요?"
"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어. 마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지. 그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."

# 9단계 - 4번 (별 찍기-10)

# 9단계 - 5번 (하노이 탑 이동 순서)