# 4단계 -4번(평균)

In [294]:
# 입력
# 첫째줄: 과목 수 (N개)
# 둘째줄 : 현재 성적
score = [1,100,100,100]

print(len(score)) 
print(score)

4
[1, 100, 100, 100]

In [295]:
# 출력
# 새로운 평균 출력 

new_scores = []

for i in range(len(score)):
        new_score = score[i] / max(score) * 100
        new_scores.append(new_score)
    
print(new_scores)
avg = sum(new_scores) / len(score)
avg

[1.0, 100.0, 100.0, 100.0]

75.25

# 4단계 - 5번(OX퀴즈)

In [311]:
# 연속으로 맞으면 +1점 올라감 
case = ['OOXXOXXOOO',
'OOXXOOXXOO',
'OXOXOXOXOXOXOX',
'OOOOOOOOOO',
'OOOOXOOOOXOOOOX']

print(len(case))

print(*case, sep='\n')
# * 언패킹 오퍼레이터 = 리스트 내 원소 하나씩 관리

5
OOXXOXXOOO
OOXXOOXXOO
OXOXOXOXOXOXOX
OOOOOOOOOO
OOOOXOOOOXOOOOX

In [350]:
score = 0
 
# 맞은거는 우선 다 1점으로 깔아 줌
for i in range(len(case)):
    n = case[i]
    for j in range(len(n)):
        if case[i][j] == 'O':
            score += 1
        else : 
            score == 0
    

for i in range(len(case)):
    n = case[i]
    for j in range(len(n)-1):
        if case[i][j] == 'O' and case[i][j] == case[i][j+1]:
            score += 1
            j += 1
        
        else: score +=0
    
    

    
score

65

In [348]:
case[3]

'OOOOOOOOOO'

In [342]:
n = case[0]
n
len(n)

10

# 4단계 - 6번(평균은 넘겠지)

In [83]:
#입력
import random 

scores = []

for i in range(random.randint(1,10)):
    score = random.randint(0,100)
    scores.append(score)
    
# 랜덤값 받음

In [84]:
#확인
print(len(scores))
scores

7

[17, 0, 81, 79, 66, 94, 86]

In [85]:
#출력
average = sum(scores) / len(scores)   #평균값 구하고

count = 0    #cnt 0으로 셋팅

for i in range(len(scores)):
    if scores[i] > average: 
        count += 1         #scores list내 원소 중, 평균값 이상일 경우 cnt+1 
        
    
#최종 답안    
ans = (count / len(scores)) * 100 
print("%0.3f%%" %ans)

71.429%

# 5단계 - 1번(정수 N개의 합)

In [144]:
import random

a = []

for i in range (random.randint(1,300000)):
    a.append(random.randint(1,1000000))

def solve(a:list) -> int: 
    return sum (a)

In [145]:
a

[249739,
 898993,
 151607,
 214233,
 700478,
 924892,
 806142,
 902280,
 984256,
 465824,
 51490,
 504864,
 449337,
 192912,
 555009,
 197779,
 534793,
 948926,
 101683,
 667445,
 218498,
 819813,
 212566,
 749149,
 587371,
 347447,
 330714,
 555625,
 668101,
 17971,
 775551,
 423295,
 68010,
 352854,
 787111,
 531739,
 332280,
 209829,
 876436,
 72536,
 419383,
 649347,
 296391,
 463280,
 757193,
 613886,
 632939,
 862245,
 117079,
 591873,
 362258,
 344925,
 754637,
 602939,
 561791,
 699561,
 511938,
 650105,
 389859,
 21928,
 188972,
 550104,
 145215,
 879140,
 153828,
 507959,
 484085,
 139708,
 796039,
 538082,
 7228,
 474273,
 126006,
 5592,
 740620,
 397916,
 356482,
 350713,
 679093,
 472235,
 151878,
 762112,
 437610,
 154019,
 861590,
 743455,
 381020,
 92774,
 687225,
 91475,
 12393,
 28802,
 387288,
 614158,
 727719,
 293987,
 981757,
 827213,
 567644,
 157908,
 741505,
 519873,
 177394,
 927771,
 208723,
 459870,
 8377,
 455137,
 611194,
 708938,
 310880,
 695917,
 299043,
 953533,
 36045,
 24721,
 335343,
 931127,
 547651,
 71657,
 403356,
 106031,
 297377,
 745876,
 437353,
 45615,
 272880,
 352133,
 281963,
 287140,
 272126,
 483760,
 270715,
 231961,
 744118,
 599575,
 144571,
 726974,
 163933,
 280004,
 451556,
 90356,
 216040,
 510198,
 188347,
 48809,
 28924,
 527020,
 138509,
 204,
 259825,
 291228,
 379663,
 342268,
 312699,
 290468,
 308562,
 380809,
 55174,
 24300,
 796403,
 278110,
 304605,
 618795,
 510597,
 899846,
 536843,
 959815,
 495179,
 564387,
 616251,
 573792,
 900251,
 206257,
 299949,
 55357,
 227210,
 52968,
 641232,
 69469,
 822340,
 30230,
 329699,
 366277,
 654700,
 3084,
 648698,
 736936,
 867052,
 135309,
 938056,
 3212,
 617513,
 542545,
 910353,
 996112,
 979354,
 515270,
 513529,
 989543,
 742731,
 216734,
 168841,
 13904,
 590733,
 286268,
 287483,
 694224,
 207864,
 381472,
 934569,
 573289,
 259621,
 943221,
 76465,
 283435,
 548181,
 38223,
 189727,
 426642,
 307306,
 653530,
 738946,
 991362,
 961310,
 3309,
 791815,
 32743,
 307131,
 249462,
 511782,
 804022,
 71572,
 538784,
 427064,
 570244,
 20245,
 289235,
 486000,
 425378,
 796556,
 368639,
 522878,
 547359,
 316873,
 857826,
 884360,
 630301,
 277990,
 446273,
 783192,
 8911,
 104515,
 14107,
 687784,
 939114,
 209545,
 372030,
 101201,
 408240,
 926850,
 333348,
 761245,
 247756,
 704481,
 747064,
 913223,
 365122,
 593614,
 178304,
 811617,
 344756,
 306773,
 944737,
 686540,
 533106,
 525534,
 578808,
 581937,
 113881,
 774312,
 278053,
 279607,
 847293,
 655427,
 167687,
 452777,
 173225,
 361499,
 944213,
 447179,
 727364,
 974410,
 42747,
 478320,
 807766,
 629038,
 359656,
 475069,
 859446,
 261084,
 698233,
 719259,
 41968,
 301696,
 467885,
 532136,
 509795,
 535498,
 246224,
 606974,
 953179,
 938054,
 254284,
 745469,
 422491,
 844031,
 199140,
 803510,
 95015,
 348476,
 521425,
 693805,
 485376,
 179708,
 78555,
 92723,
 375645,
 515904,
 376857,
 703878,
 742590,
 428462,
 204116,
 204712,
 903196,
 201369,
 997602,
 98945,
 346932,
 767146,
 340833,
 966296,
 303619,
 816236,
 983863,
 421644,
 37809,
 332174,
 627932,
 927017,
 736387,
 727809,
 706701,
 322511,
 730885,
 513373,
 333954,
 186498,
 396188,
 783603,
 525872,
 206136,
 876485,
 805671,
 876016,
 173465,
 277383,
 427114,
 919408,
 361400,
 746667,
 43390,
 543184,
 929653,
 7578,
 512956,
 119491,
 995487,
 144258,
 367148,
 996296,
 320310,
 989682,
 411289,
 943830,
 470376,
 461086,
 617396,
 95672,
 577234,
 803289,
 91029,
 839379,
 187146,
 146889,
 740851,
 27179,
 122115,
 355228,
 248385,
 938099,
 585806,
 442302,
 485394,
 627802,
 676050,
 502060,
 241833,
 357834,
 637996,
 20678,
 32628,
 729004,
 466573,
 674028,
 852319,
 652881,
 149776,
 587051,
 211100,
 306042,
 975953,
 910636,
 661879,
 433468,
 231776,
 706444,
 658566,
 944122,
 262913,
 402313,
 190434,
 305039,
 782164,
 290226,
 576185,
 188104,
 205879,
 116507,
 921800,
 400130,
 32819,
 199676,
 261733,
 124031,
 153025,
 616577,
 545687,
 474729,
 26502,
 807803,
 827710,
 801179,
 739888,
 822359,
 690873,
 482190,
 656510,
 600193,
 31767,
 744714,
 632428,
 514254,
 827021,
 353428,
 547551,
 680293,
 799300,
 637197,
 891775,
 947634,
 880925,
 462128,
 824377,
 16835,
 805556,
 403722,
 293036,
 178436,
 31530,
 278785,
 196007,
 297856,
 159653,
 419367,
 440163,
 303880,
 436767,
 544807,
 106202,
 241835,
 556244,
 915187,
 605693,
 878395,
 572715,
 260706,
 813227,
 627056,
 602047,
 81381,
 691465,
 449491,
 648412,
 408694,
 471716,
 584012,
 137034,
 510228,
 712213,
 805380,
 917123,
 924322,
 845127,
 380127,
 106730,
 624012,
 611297,
 155591,
 652273,
 621851,
 620661,
 640636,
 534079,
 982425,
 955580,
 801453,
 891687,
 773187,
 367676,
 883520,
 431039,
 544960,
 821061,
 890985,
 756018,
 752469,
 344212,
 944048,
 340310,
 83832,
 848104,
 392979,
 427984,
 607627,
 452132,
 297437,
 210527,
 331594,
 694346,
 192248,
 69888,
 51334,
 477207,
 893382,
 568299,
 412352,
 57060,
 882205,
 889651,
 937427,
 47523,
 869683,
 434863,
 238575,
 283952,
 802026,
 504206,
 395472,
 275128,
 856991,
 194432,
 969678,
 466634,
 463899,
 463807,
 402814,
 186088,
 444675,
 814638,
 443369,
 714152,
 397988,
 221585,
 544895,
 663766,
 561167,
 146601,
 907563,
 565487,
 647676,
 48285,
 445805,
 11779,
 756296,
 834734,
 778248,
 336092,
 78800,
 234139,
 45633,
 426525,
 480258,
 210064,
 167274,
 410505,
 945883,
 125471,
 466303,
 396560,
 336743,
 532715,
 86663,
 496920,
 364903,
 764576,
 560486,
 818651,
 264979,
 141579,
 640690,
 47864,
 682714,
 607309,
 83296,
 693017,
 67512,
 489100,
 227764,
 786094,
 793670,
 618136,
 742266,
 167128,
 299265,
 544234,
 279482,
 937956,
 382007,
 664467,
 738970,
 792478,
 510688,
 911957,
 900907,
 523816,
 90006,
 451538,
 584071,
 125888,
 483304,
 230980,
 973231,
 908526,
 422083,
 804654,
 863157,
 235971,
 307302,
 581036,
 734076,
 443272,
 756241,
 481144,
 387322,
 998107,
 961228,
 741367,
 217007,
 545714,
 859683,
 639095,
 139500,
 618979,
 159247,
 561743,
 364104,
 67638,
 940133,
 402388,
 464809,
 4548,
 624606,
 514088,
 34464,
 321794,
 567499,
 759434,
 888708,
 620569,
 512968,
 764052,
 803644,
 791090,
 595579,
 769448,
 686046,
 239654,
 101214,
 330841,
 432245,
 119889,
 258467,
 121868,
 889691,
 627152,
 928204,
 853672,
 987535,
 764807,
 566774,
 942202,
 588770,
 944407,
 654595,
 955742,
 221406,
 48738,
 96784,
 866205,
 440871,
 378611,
 613198,
 667459,
 570784,
 423225,
 549349,
 332761,
 180225,
 875161,
 488721,
 931200,
 345307,
 345718,
 271198,
 582129,
 346745,
 425213,
 482236,
 532799,
 661973,
 937066,
 720176,
 873802,
 984207,
 29375,
 580998,
 911103,
 119132,
 782772,
 527005,
 254111,
 907710,
 850883,
 339730,
 604421,
 979335,
 718582,
 610930,
 38036,
 959567,
 828165,
 395537,
 423501,
 350893,
 255897,
 248564,
 390264,
 460669,
 268311,
 890071,
 574397,
 327391,
 612288,
 75296,
 599313,
 464778,
 374862,
 77766,
 367971,
 120031,
 291488,
 907728,
 871534,
 285025,
 585927,
 781849,
 358836,
 192646,
 418216,
 988139,
 877549,
 184501,
 460758,
 924619,
 647792,
 78133,
 650995,
 360686,
 103524,
 398849,
 892283,
 746102,
 940044,
 390397,
 691128,
 254129,
 940676,
 339966,
 724427,
 9544,
 626637,
 616250,
 681406,
 494218,
 14244,
 59229,
 966975,
 811798,
 404998,
 235941,
 305268,
 484500,
 144424,
 854396,
 26996,
 759630,
 714954,
 797310,
 959788,
 11230,
 24527,
 607498,
 357077,
 446028,
 243607,
 973184,
 581429,
 411751,
 502734,
 281284,
 315031,
 755119,
 568360,
 120850,
 986289,
 34788,
 597002,
 231476,
 946178,
 940760,
 423572,
 410564,
 9056,
 458486,
 267286,
 243473,
 715878,
 385972,
 133547,
 882292,
 981601,
 615951,
 386522,
 937037,
 282877,
 748199,
 548539,
 635000,
 701969,
 786600,
 40420,
 812067,
 349134,
 344591,
 831822,
 325422,
 752929,
 621279,
 961618,
 944809,
 608060,
 573977,
 175245,
 121254,
 259532,
 826654,
 937788,
 158509,
 887937,
 634750,
 279655,
 224233,
 173464,
 816345,
 280195,
 398213,
 506404,
 459833,
 269960,
 748341,
 490434,
 634257,
 117707,
 784233,
 834546,
 790968,
 736143,
 521352,
 907632,
 355910,
 976278,
 59121,
 939499,
 128829,
 365514,
 823607,
 93352,
 373593,
 584358,
 783518,
 64879,
 820053,
 83334,
 167755,
 438327,
 471690,
 12962,
 616430,
 68600,
 668489,
 58464,
 686388,
 265719,
 704925,
 33565,
 167355,
 703211,
 764655,
 292053,
 981972,
 736316,
 957980,
 584177,
 667889,
 715656,
 846733,
 178964,
 428028,
 214631,
 261278,
 149115,
 851144,
 749924,
 519250,
 295527,
 515735,
 236957,
 528867,
 178271,
 60675,
 370812,
 725021,
 765522,
 58690,
 895353,
 105476,
 572006,
 14050,
 838098,
 89423,
 157952,
 494004,
 354655,
 892616,
 946472,
 211879,
 632450,
 466064,
 505961,
 704998,
 982796,
 143337,
 163523,
 147450,
 918583,
 246748,
 756443,
 981264,
 37039,
 164724,
 37415,
 775180,
 310268,
 17853,
 898549,
 571604,
 383779,
 370507,
 ...]

In [147]:
solve(a)

73306179037

# 5단계 - 2번(셀프 넘버)

In [ ]:
# 셀프 넘버 
# n +

In [151]:
not_self = []

n + n//10^2 + n//10^1 + n % 10 = not_self.append()

print range(1,10000)

SyntaxError: cannot assign to operator (4121093367.py, line 3)

In [153]:
a = range(1,10000)

In [155]:
a - 2

TypeError: unsupported operand type(s) for -: 'range' and 'int'

In [ ]:
All = set(i for i in range(1,10001))
S = set()

for i in range(1,10001):
    for j in str(i):
        i += int(j)
    S.add(i)

    for i in sorted(All - S):
        print(i)

# 5단계 - 3번 (한수)

In [482]:
a = '50034'

In [486]:
a[0][3]

'3'

In [525]:
# 1~1000 자연수 중, 각 자리값이 등차수열인 수 구하기

# 한 자리 : 1~9 전체
# 두 자리 : 10~99 전체
# 세 자리: [0] - [1] = [1] - [2]

import random

input = int(random.randint(1,1001))

def hansu(num):
   
    if len(str(num)) <= 2:
        print (num)
    
    else :
        cnt = 0
        for num in range(100,int(num)+1):
            if int(str(num)[0]) - int(str(num)[1]) == int(str(num)[1]) - int(str(num)[2]):
                cnt += 1
        
        print (99 + cnt)
    
hansu(input)

129

# 6단계 - 8번 (다이얼)

In [ ]:
# 다이얼 전화기 돌리기 

#입력 
#첫째 줄에 알파벳 대문자 (2 < 단어 길이 < 15)

In [ ]:
#출력 
#첫째 줄 다이얼 걸기 위해 필요한 최소 시간 출력

# 6단계 - 9번 (크로아티아 알파벳)

In [233]:
C = ['c=','c-','dz=','d-','lj','nj','s=','z=']

In [259]:
a = str('ljes=njak')

croatia = []

for i in range(len(C)):
    if C[i] in a:
        croatia.append(C[i])
    

print (len(a) - len(croatia))
        
# c=c= 나오면 중복값이라 안돼

6

In [258]:

for i in range(len(C)):
    if C[i] in a:
        croatia[i] += 1
    
print (croatia)

IndexError: list index out of range

# 6단계 - 10번 (그룹 단어 체커)

In [106]:
#입력
#첫째줄 : 단어 개수
#둘째줄 : n개 줄에 단어 들어옴 (소문자, 중복X, 최대 길이 100)

# import random 
# import string

# num_word = random.randint(1,101)
# len_word = random.randint(1,101)

In [109]:
# print(num_word)

# for i in range(num_word):
#     print(string.ascii_lowercase)

In [470]:
word_list = ['yzyzy','zyzyz']
cnt = len(word_list)
# 전체 갯수에서 그룹 단어 빼는 방식

print (cnt)

for i in range(cnt):
    for j in range(1,len(word_list[i])):
        if (word_list[i][j-1] == word_list[i][j]) and (word_list[i][j-1] not in word_list[i][j+1:]):
            cnt += 0
            
        elif (word_list[i][j-1] != word_list[i][j]) and (word_list[i][j-1] not in word_list[i][j:]):
              cnt += 0
              
        elif word_list[i][j-1] in word_list[i][j+1:]:
                cnt += -1
                break        
            
    
# 연속 O & 뒤에 없음 : 갯수 안깜
# 연속 X & 중복 X : 갯수 안깜

# 연속 O & 뒤에서 나옴 : 갯수 깜
# 연속 X & 중복 O : 갯수 깜
# => 같은 문자가 하나 건너뛰어서 한 문자라도 나오면 그룹 단어 X (갯수 깜)
print (cnt)

2
0

# 9단계 - 3번 (재귀함수가 뭔가요?)

In [569]:
n = 5

print ('어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.')

def recur():
    print("\"재귀함수가 뭔가요?\""'\n'
          "\"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어. "
          "마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지. "
          "그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어.\"")

    
recur()

어느 한 컴퓨터공학과 학생이 유명한 교수님을 찾아가 물었다.
"재귀함수가 뭔가요?"
"잘 들어보게. 옛날옛날 한 산 꼭대기에 이세상 모든 지식을 통달한 선인이 있었어. 마을 사람들은 모두 그 선인에게 수많은 질문을 했고, 모두 지혜롭게 대답해 주었지. 그의 답은 대부분 옳았다고 하네. 그런데 어느 날, 그 선인에게 한 선비가 찾아와서 물었어."